iot.bitautomation.id {
	@transform_port_query {
		query XTransformPort=*
	}

	handle @transform_port_query {
		reverse_proxy iiot-ws:{query.XTransformPort}
	}

	handle {
		reverse_proxy app:3000
	}
}

